<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Meeting</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        a:link{
          text-decoration:none
        }
        a:visited{
          text-decoration:none
        }
    </style>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet"/> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    
</head>
<body>
  <h1>Hi, welcome to new meeting</h1>
  <div class="row">
    <div class="col-md-5">
      
      <form th:action="@{/meeting/create(idPatient = ${patient.id})}" th:object="${meeting}" method="post">
        <!-- ALERTA DE ERRORES-->
        <div th:if="${#fields.hasErrors('*')}">
          <h2> Por favor corrija los siguientes errores:</h2>
          <ul>
            <li th:each="err :${#fields.errors('*')}" th:text="${err}"></li>
          </ul>
        </div>
        <!--Id consulta-->
        <input type="hidden" th:field="*{idMeeting}">
    
        <!--Fecha Atencion-->
        <div class="d-flex justify-content-center">
          <div class='col-sm-10'>
          <div class="form-group">
            <label class="form-label">Fecha Consulta</label>
            <div class='input-group date' id='datetimepicker1' th:field="*{dateTimeMeeting}">
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          </div>
        </div>
    
        <script type="text/javascript">
          $(function () {
              $('#datetimepicker1').datetimepicker();
          });
        </script>
      
    
        <!--Input Doctor-->
        <div class="d-flex justify-content-center">
        <div class="col-md-10">
          <label class="form-label">Medico asignado</label>
          <input type="text" class="form-control"   th:value="*{patient.id}"  placeholder="idPatient" >
          <input type="text" class="form-control"  th:value="*{worker.id}" placeholder="idWorker" id="inputIdPersonal" required="required">
          <input type="text" class="form-control"  id="inputNameDoctor" placeholder="Nombre" >
        </div>
        </div>
    
        <br>
        <div class="d-flex justify-content-between">
          <a class="btn btn-secondary" href="javascript: history.go(-1)">Cancelar</a>
          <button class="btn btn-primary" type="submit"  onclick="return confirm('¿Desea agendar la Cita Médica?')">Ingresar</button>
        </div>
      </form>

    </div>
    <div class="col-md-7">
      lista de doctors
    </div>
  </div>
  
</body>
</html>