<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>List of Vital Signs</title>
    <div th:insert="~{fragments/imports :: head}"></div>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:insert="~{fragments/imports :: sidebar}"></div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Top bar -->
            <div th:insert="~{fragments/imports :: topbar}"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                        <li class="breadcrumb-item active"><a th:href="@{/patient/}">List of Patient</a></li>
                        <li class="breadcrumb-item active" aria-current="page" >List of Vital Signs <i class="fas fa-heart"></i></li>
                    </ol>
                </nav>

                <!-- Messege  -->
                <div th:insert="~{fragments/imports :: alert-msg}"></div>

                <!--  Personal Information -->
                <div class= "card shadow mb-4">
                    <div th:insert = "~{fragments/imports :: card-patient}"></div>
                </div>

                <!-- DataTales Exam -->
                <div class="card shadow mb-4">
                    <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                            <a class="btn-sm" th:href="@{/vitalSign/new(id = ${patient.record.id})}"> <i class="fas fa-plus"></i> New </a>
                            <a class="btn-sm" th:href="@{/patient/detail(id = ${patient.id})}">   <i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
                        </div>
                        <!-- <h6 class="m-0 font-weight "> My Vital Sing</h6> -->
                        <a class="btn-sm" th:href="@{/vitalSign/report(id = ${patient.record.id})}"> <i class="fas fa-chart-line"></i> Reports </a>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table-sm table table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Pressure</th>
                                <th>Pulse</th>
                                <th>Breath.</th>
                                <th>Satu.</th>
                                <th>Tem°</th>
                                <th>Date</th>
                                <th>Accitions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Pressure</th>
                                <th>Pulse</th>
                                <th>Breath.</th>
                                <th>Satu.</th>
                                <th>Tem°</th>
                                <th>Date</th>
                                <th>Accitions</th>
                            </tr>
                            </tfoot>
                            <tbody>              
                                <tr th:each="vitalSign : ${patient.record.vitalSigns}">
                                    <td th:text="${vitalSign.idVitalSign}"></td>
                                    <td th:text="${vitalSign.pressureHigh}+'/'+${vitalSign.pressureLow}+'mmHg.'"></td>
                                    <td th:text="${vitalSign.pulse} +'x min.'"></td>
                                    <td th:text="${vitalSign.breathing}+'x min.'"></td>
                                    <td th:text="${vitalSign.saturation}+'%'"></td>
                                    <td th:text="${vitalSign.temperature}+'°C'"></td>
                                    <td th:text="${vitalSign.vitalSignDate}"></td>
                                    <td>
                                        <a th:href = "@{/vitalSign/detail(id=${vitalSign.idVitalSign})}" class="btn btn-success btn-sm" title="Detail">
                                            <i class="fas fa-eye" aria-hidden="true"></i></a>
                                        <a th:href = "@{/vitalSign/update(idVitalSign=${vitalSign.idVitalSign}, idRecord=${patient.record.id})}" class="btn btn-warning btn-sm" title="Update">
                                             <i class="fas fa-pencil-alt" aria-hidden="true"></i> </a>
                                        <a th:href = "@{/vitalSign/delete(idVitalSign=${vitalSign.idVitalSign}, idRecord=${patient.record.id})}" class="btn btn-danger btn-sm" title="Delete" onclick="return confirm('¿Are you sure you want to delete?')">
                                            <i class="fas fa-trash" aria-hidden="true"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer th:insert="~{fragments/imports :: footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:insert ="~{fragments/imports :: display-topbar}"></div>
<div th:insert = "~{fragments/imports :: scripts}"></div>
</body>
</html>