<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <title>Borrador</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        a:link {
            text-decoration: none
        }

        a:visited {
            text-decoration: none
        }
    </style>
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            sidebar
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Top bar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                </nav>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        breadcrumb
                    </nav>

                    <!-- Page Heading -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>msg</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <form th:action="@{/patient/create}" th:object="${patient}" method="post"
                                        enctype="multipart/form-data">

                                        <!-- Warning messege-->
                                        <div th:if="${#fields.hasErrors('*')}">
                                            <h2> Please checkout this errors</h2>
                                            <ul>
                                                <li th:each="err :${#fields.errors('*')}" th:text="${err}"></li>
                                            </ul>
                                        </div>


                                        <input type="hidden" th:field="*{id}">
                                        <input type="hidden" th:field="*{record.id}">


                                        <!--Rut-->
                                        <label class="col-form-label" for="inputRut">Rut: </label>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input placeholder="12345678-9" type="text"  class="form-control" oninput="checkRut(this)"
                                                th:field="*{rut}" id="inputRut" required="required" />
                                            </div>
                                        </div>
                                        
                                        
                                        <!--Rut-->
                                        <label class="col-form-label" for="inputRut">Namr </label>
                                        <div class="row">
                                            <div class="col">
                                              <input type="text" class="form-control" placeholder="First name">
                                            </div>
                                            <div class="col">
                                              <input type="text" class="form-control" placeholder="Last name">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-form-label" for="inputRut">Rut: </label>
                                            <div class="input-group">
                                                <input placeholder="12345678-9" type="text"  class="form-control text-left" oninput="checkRut(this)"
                                                    th:field="*{rut}" id="inputRut" required="required" />
                                                <input type="file" class="form-control" name="fileProfile" aria-describedby="helpId">
                                                <small>Select a profile picture</small>
                                            </div>

                                        </div>
                                        <script src="/static/js/tools/user.js"></script>

                                        <!--Name-->
                                        <div class="form-group col-md-12">
                                            <label class="col-form-label">Full name: </label>
                                            <div class="input-group">
                                                <input type="text" placeholder="name" id="name" class="form-control"
                                                    th:field="*{name}">
                                                <input type="text" placeholder="lastName" id="lastName"
                                                    class="form-control" th:field="*{lastName}">
                                            </div>
                                        </div>

                                        <!--Foto perfil-->
                                        <div class="form-group col-md-3">
                                        </div>




                                        <!--Nationality-->
                                        <!-- <div class="col-md-3">
                                    <input type="text" class="form-control" th:field="*{nationality}" placeholder="nationality"  id="nationality" required="required">
                                </div> -->

                                        <!--REGION-->
                                        <!-- <div class="col-md-3">
                                <input type="text" class="form-control" th:field="*{region}" placeholder="Region"  id="region"   required="required">
                                </div> -->

                                        <!--COMUNA-->
                                        <!-- <div class="col-md-3">
                                <input type="text" class="form-control" th:field="*{city}" placeholder="City" id="city" required="required">
                                </div> -->

                                        <!-- ADDRESS -->
                                        <!-- <div class="col-md-4">
                                <input type="text" class="form-control" th:field="*{address}" placeholder="Address" id="address"   required="required">
                                </div> -->


                                        <div class="col-12"><br><label class="text-dark">Patient data</label><br></div>
                                        <!-- PREVISION -->
                                        <!-- <div class="col-md-3">
                                <select class="selectpicker show-tick form-control"  th:field="*{prevision}" id="prevision" required="required">
                                    <option value="" selected>Prevision</option>
                                    <option th:value= 0 th:text="Fonasa"></option>
                                    <option th:value= 1 th:text="Isapre"></option>
                                </select>
                                </div> -->


                                        <!-- SEXO -->
                                        <div class="col-md-3">
                                            <select class="selectpicker show-tick form-control"
                                                th:field="*{record.sexo}" id="sexo" required="required">
                                                <option value="" selected>Sexo</option>
                                                <option th:value=0 th:text="Masculino"></option>
                                                <option th:value=1 th:text="Femenino"></option>
                                            </select>
                                        </div>


                                        <!-- Etnia -->
                                        <div class="col-md-3">
                                            <select class="selectpicker show-tick form-control"
                                                th:field="*{paciente.filiacion.raza}" id="raza" name="raza"
                                                required="required">
                                                <option value="" selected>Etnia</option>
                                                <option th:value="'ng'" th:text="AfroAmericano"></option>
                                                <option th:value="'bl'" th:text="Caucasico"></option>
                                            </select>
                                        </div>

                                        <!--BIRTH DATE-->
                                        <div class="col-md-3">
                                            <input class="form-control" title="Birth date" type="date"
                                                th:field="*{record.birthDate}" id="birthDate" required="required">
                                            <small>Birth date</small>
                                        </div>

                                        <div class="col-12"><br><label class="text-dark">Contact</label><br></div>

                                        <!--MAIL-->
                                        <div class="input-group col-md-4">
                                            <span class="input-group-text">@</span>
                                            <input type="email" th:field="*{mail}" id="mail" placeholder="Mail"
                                                class="form-control" required="required">
                                        </div>

                                        <!--PHONE-->
                                        <!-- <div class="col-md-2">
                                <input type="text" class="form-control" th:field="*{phone}"  id="phone"  placeholder="Phone" required="required">
                                </div> -->

                                        <!--PHONE SECOND-->
                                        <!-- <div class="col-md-2">
                                <input type="text" class="form-control" th:field="*{phoneSecond}" placeholder="Phone second" id="phoneSecond">
                                </div> -->

                                        <div class="col-12"><br></div>
                                        <!--ENABLED-->
                                        <div class="col-md-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                                    th:field="*{enabled}">
                                                <label class="form-check-label" for="flexCheckDefault"> ¿Enable User?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12"><br></div>
                                        <div class="col-12">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:insert="~{fragments/imports :: display-topbar}"></div>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>
    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/static/js/demo/datatables-demo.js"></script>
    <!--functions js-->
    <script src="/static/js/myFunctions.js"></script>
</body>

</html>